/*
KlippyDash
https://github.com/nixkor/KlippyDash
*/
:root {
	--bg-color: #140049;
	--text-color: gray;
	--link-color: rgb(216, 216, 216);

	--tile-bg-color:#111111;
	--tile-dynamic-text-color: rgb(216, 216, 216);
	--tile-border: #333 1px solid;
	--tile-border-radius: 10px;
	
	--title-text-color:  rgb(216,216,216); 
	
	--progress-bar-bg-color: #555555;
	--progress-bar-color: #0C0C8E;
	--progress-bar-border: #666 1px solid;
	--progress-bar-text-color: white;
	/*--progress-bar-animation:pulse 5s linear infinite;*/
	
	--success-progress-bar-color: #22db09;
	--success-progress-text-color: white;
	--success-progress-bar-background-image: linear-gradient(to right, var(--darken-overlay-color), var(--lighten-overlay-color));
	--success-progress-bar-background-size: 800px;
	/*
	--success-progesss-bar-animation:pulse 5s linear infinite;
	--success-progress-bar-pulse-color-1: #22db09;
	--success-progress-bar-pulse-color-2: #0f9b2d;
	*/
	
	--warning-progress-bar-color: gold;
	--warning-progress-text-color: black;
	/*
	--warning-progress-bar-background-image:
	--warning-progress-bar-background-size:
	--warning-progress-bar-animation:
	--warning-progress-bar-pulse-color-1:
	--warning-progress-bar-pulse-color-2:
	*/
	
	--error-progress-bar-color: #D61B1B;
	--error-progress-text-color: white;
	/*
	--error-progress-bar-background-image:
	--error-progress-bar-background-size:
	--error-progress-bar-animation:
	--error-progress-bar-pulse-color-1:
	--error-progress-bar-pulse-color-2:
	*/
	
	--standby-progress-bar-color:rgb(110, 110, 110);
	--standby-progress-text-color: white;	
	/*
	--standby-progress-bar-background-image:linear-gradient(to right, var(--darken-overlay-color), var(--lighten-overlay-color)); 
	--standby-progress-bar-background-size: 800px;
	*/
	--standby-progesss-bar-animation:pulse 5s linear infinite;
	--standby-progress-bar-pulse-color-1: rgb(110, 110, 110);
	--standby-progress-bar-pulse-color-2: rgb(48, 48, 48);


	--printing-progress-bar-color: rgb(33, 110, 255);
	--printing-progress-text-color: white;	
	--printing-progress-bar-background-image: linear-gradient(to right, var(--darken-overlay-color), var(--lighten-overlay-color));
	--printing-progress-bar-background-size: 100%;
/*
	--printing-progress-bar-animation:
	--printing-progress-bar-pulse-color-1:
	--printing-progress-bar-pulse-color-2:
*/	

	--lighten-overlay-color: rgba(255,255,255,0.2);
	--darken-overlay-color: rgba(0, 0, 0, 0.5);

	--pulse-color-1:#0C0C8E;
	--pulse-color-2: hsl(240, 90%, 20%);

	--control-pause-color: gold;;
	--control-resume-color: green;
	--control-cancel-color: darkred;
	--control-clear-color: green;
	--control-estop-color: darkred;

	--footer-color:var(--text-color);	
	--timestamp-color:var(--text-color);
}

[data-theme="light"] {
	--bg-color:#eee;
	--text-color: black;
	--tile-bg-color:#ccedf1;
	--title-text-color: #000;
	--tile-dynamic-text-color:black;
	--link-color: rgb(0, 74, 185);
	--printing-progress-bar-color: rgb(33, 192, 255);
	--printing-progress-text-color: white;	
	--printing-progress-bar-background-image: ;
	--control-pause-color: gold;;
	--control-resume-color: rgb(0, 180, 0);
	--control-cancel-color: red;
	--control-clear-color: rgb(0, 180, 0);
	--control-estop-color: red;	


}

[data-theme="dark"] {
	--bg-color:#333;
	--text-color: gray;
	--link-color: rgb(216, 216, 216);
	--tile-bg-color:#111;
}

[data-theme="orcaslicer"] {
	--orcaslicer-teal: #009688;

	--success-progress-bar-color: var(--orcaslicer-teal);
	--tile-bg-color:hsl(190, 12%, 17%);
	--bg-color: hsl(190, 9%, 25%);
	--link-color: var(--orcaslicer-teal);
	--printing-progress-bar-color: var(--orcaslicer-teal);
	--lighten-overlay-color: hsva(190,15,50,0.5)
	--darken-overlay-color: rgba(0, 0, 0, 0.5);
	--standby-progress-bar-color: hsl(189, 65%, 10%); 
}

[data-theme="miami"] {
	--color-white: white;
	--color-pink: hsl(323, 90%, 60%);
	--color-teal: hsl(182, 90%, 50%);
	--color-black: black;
	--color-darkgray: #222;
	--color-green: #5fff4a;
	--color-red: #ff7070;
	--color-yellow: rgb(255, 255, 113);

	--bg-color: var(--color-pink);
	--tile-bg-color: var(--color-darkgray);
	--text-color: var(--color-pink);
	--link-color: var(--color-teal);
	--tile-dynamic-text-color: var(--color-teal);
	--title-text-color:var(--color-teal);
	--success-progress-bar-color: var(--color-green);
	--success-progress-text-color: var(--color-white);
	--success-progress-bar-background-image: linear-gradient(to right, var(--darken-overlay-color), var(--lighten-overlay-color));
	--success-progress-bar-background-size: 800px;	
	--error-progress-bar-color: var(--color-red);
	--warning-progress-bar-color: var(--color-yellow);
	--footer-color:var(--color-black);

	--printing-progress-bar-color: var(--color-teal);
	--progress-bar-bg-color: var(--color-black);

	--control-pause-color: var(--color-yellow);
	--control-resume-color: var(--color-green);
	--control-cancel-color: var(--color-red);
	--control-clear-color: var(--color-green);
	--control-estop-color: var(--color-red);

	--timestamp-color:var(--color-white);
}

body {
	position:relative;
	padding-bottom:30px;
	font-family: arial;
	font-size: 1em;
	background-color: var(--bg-color); 
	color: var(--text-color);
}

body.alert {
	animation: alarm-gradient 5s linear infinite;
	background-color: red;;
}

img.cam {
	width:800px;
}

div.cam {
	height: 600px;
	width: 800px;
	align-content: center;
	background-color: black;
	/* TODO: figure out how to make this work (doesnt center)
	border: 5px solid black;
	border-top: 0px;
	border-bottom: 0px;
	*/
}

div.stats {
	margin-top: 10px;
	text-align: left;
	vertical-align: top;	
}

.section-error {
	white-space: pre;
	font-family:monospace;
	margin: 1em 0 1em;
	padding: 5px;
	text-align: left;
	vertical-align: top;
	background-color: #111 !important;
	color: red !important;
	font-weight: bold;	
	border: var(--tile-border);
}

.section-time {
	margin-top:20px;
    text-align: left;
	color: var(--timestamp-color);
}

.hidden {
	visibility: hidden;
	display:none;
}

#klippydash {
	text-align: center;
}

.tile {
  display: inline-block;
  vertical-align:top;
  padding: 15px;
  margin: 20px;
  width: 800px;
  height: auto; 
  background-color: var(--tile-bg-color);
  color: var(--text-color);
  border-radius: var(--tile-border-radius);
  border: var(--tile-border);
}

.title {
	color: var(--title-text-color);
	font-size: 2em;
	font-weight: bold;
	margin: 2px 0 10px 0;
	/*
	paint-order: stroke fill;
	@supports (-webkit-text-stroke: 1px black) {
		  -webkit-text-fill-color: var(--title-text-color);
		  -webkit-text-stroke: 1px black;
	}
		  */	
}

.progress-bar {
	height:30px;
	background-color: var(--progress-bar-bg-color);
	margin:5px 0px;
	text-align:left;
	border-radius:10px;
	background-image: linear-gradient(45deg, var(--lighten-overlay-color) 25%, transparent 25%, transparent 50%, var(--lighten-overlay-color) 50%, var(--lighten-overlay-color) 75%, transparent 75%, transparent);
	background-size: 40px 40px;		
	border: var(--progress-bar-border);
}

.progress-bar.animated {
	animation: progress-bar-stripes 2s linear infinite reverse;
}

.progress-bar-progress {
	background-color: var(--progress-bar-color);
	height:100%;
	align-content: center; /* centers text vertically in progress bar */
	border-radius:10px;
}

.progress-bar-progress.animated {
	background-image: linear-gradient(45deg, var(--lighten-overlay-color) 25%, transparent 25%, transparent 50%, var(--lighten-overlay-color) 50%, var(--lighten-overlay-color) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
	animation: progress-bar-stripes 2s linear infinite reverse;
} 

@keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

.progress-bar-text {
	
	margin-left: 10px;
	color: var(--progress-bar-text-color);
	font-weight: bold;
	white-space: nowrap;
	text-align: left;
	font-size:1.3em;
	paint-order: stroke fill;
	@supports (-webkit-text-stroke: 1px black) {
		  -webkit-text-fill-color: var(--progress-bar-text-color);
		  -webkit-text-stroke: 2px black;
	}		
}
	
/* success */
.progress-bar-progress.success {
	background-image: var(--success-progress-bar-background-image);
	background-size: var(--success-progress-bar-background-size);
	background-color: var(--success-progress-bar-color);
	--pulse-color-1: var(--success-progress-bar-pulse-color-1);
	--pulse-color-2: var(--success-progress-bar-pulse-color-2);
	animation: var(--success-progesss-bar-animation);
}

.progress-bar-progress.success>.progress-bar-text {
	color: var(--success-progress-text-color) !important;
}

/* warning */
.progress-bar-progress.warning {
	background-image: var(--warning-progress-bar-background-image);
	background-size: var(--warning-progress-bar-background-size);
	background-color: var(--warning-progress-bar-color);
	--pulse-color-1: var(--warning-progress-bar-pulse-color-1);
	--pulse-color-2: var(--warning-progress-bar-pulse-color-2);
	animation: var(--warning-progesss-bar-animation);

}

.progress-bar-progress.warning>.progress-bar-text {
	color: var(--warning-progress-text-color) !important;
}

/* error */
.progress-bar-progress.error {
	background-image: var(--error-progress-bar-background-image);
	background-size: var(--error-progress-bar-background-size);
	background-color: var(--error-progress-bar-color);
	--pulse-color-1: var(--error-progress-bar-pulse-color-1);
	--pulse-color-2: var(--error-progress-bar-pulse-color-2);
	animation: var(--error-progesss-bar-animation);
}

.progress-bar-progress.error>.progress-bar-text {
	color: var(--error-progress-text-color) !important;
}

/* success */
.progress-bar-progress.printing {
		/*background-size: 800px 800px;*/
		/*
		background-color: silver;
		background-image: linear-gradient(to right, hsla(219, 100%, 64%, 1), hwb(187 27% 0% / 1));
		*/
		/*background-image: linear-gradient(45deg, var(--lighten-overlay-color) 25%, transparent 25%, transparent 50%, var(--lighten-overlay-color) 50%, var(--lighten-overlay-color) 75%, transparent 75%, transparent);*/
		/*
		background-image: linear-gradient(to right, var(--darken-overlay-color), var(--lighten-overlay-color));
		background-size: 800px;
		background-color: var(--printing-progress-bar-color);
		*/
		background-image: var(--printing-progress-bar-background-image);
		background-size: var(--printing-progress-bar-background-size);
		background-color: var(--printing-progress-bar-color);
		--pulse-color-1: var(--printing-progress-bar-pulse-color-1);
		--pulse-color-2: var(--printing-progress-bar-pulse-color-2);
		animation: var(--printing-progesss-bar-animation);		
}

.progress-bar-progress.printing>.progress-bar-text {
	color: var(--printing-progress-text-color) !important;
}

/* standby */
.progress-bar-progress.standby {
	background-image: var(--standby-progress-bar-background-image);
	background-size: var(--standby-progress-bar-background-size);
	background-color:var(--standby-progress-bar-color);
	--pulse-color-1: var(--standby-progress-bar-pulse-color-1);
	--pulse-color-2: var(--standby-progress-bar-pulse-color-2);
	animation: var(--standby-progesss-bar-animation);
}

.progress-bar-progress.standby>.progress-bar-text {
	color: var(--standby-progress-text-color) !important;
}

@keyframes alarm-gradient {
	0%{background-color:black;}
	49%{background-color:red;}
	/*50%{background-color:white;}* hide the strobe */
	51%{background-color:red;}
	100%{background-color:black;}
	/*100%{background-color:white;} hide strobe */
}

@keyframes rainbow-road {
	0%{background-color: hsl(0 100 50)}
	5%{background-color: hsl(18 100 50)}
	10%{background-color: hsl(36 100 50)}
	15%{background-color: hsl(54 100 50)}
	20%{background-color: hsl(72 100 50)}
	25%{background-color: hsl(96 100 50)}
	30%{background-color: hsl(108 100 50)}
	35%{background-color: hsl(126 100 50)}
	40%{background-color: hsl(144 100 50)}
	45%{background-color: hsl(162 100 50)}
	50%{background-color: hsl(180 100 50)}
	55%{background-color: hsl(198 100 50)}
	60%{background-color: hsl(216 100 50)}
	65%{background-color: hsl(234 100 50)}
	70%{background-color: hsl(252 100 50)}
	75%{background-color: hsl(270 100 50)}
	80%{background-color: hsl(288 100 50)}
	85%{background-color: hsl(306 100 50)}
	90%{background-color: hsl(324 100 50)}
	95%{background-color: hsl(342 100 50)}
	100%{background-color: hsl(360 100 50)}
}

@keyframes pulse {
	0% {background-color: var(--pulse-color-1);}
	50% {background-color: var(--pulse-color-2);}
	100% {background-color: var(--pulse-color-1);}
}

.progress-bar-progress.party-time {
	background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet,red,red);
	background-size: 1000% 1000%;
	animation: rolling-gradient 30s linear infinite;
}

@keyframes rolling-gradient {
	0%{background-position:0% 50%}
    100%{background-position:500% 50%}
}

.progress-bar-progress.party-time>.progress-bar-text {
	color: white;
}

.tile-line {
	text-align:left;
	padding: 2px 0px;
}

.label {
	font-weight: bold;
}

.dynamic-value {
	color: var(--tile-dynamic-text-color); 
}

.dynamic-value.hot {
	color: var(--tile-dynamic-text-hot-color);
}

.dynamic-value.cold {
	color: var(--tile-dynamic-text-cold-color);
}

.tiny {
	font-size:.7em;
}

.title-container {
  align-content:center;
}

.control-wrap {
	position: relative;
    overflow: hidden;
	align-content:center;
	float:right;
}

.control-e-stop, .control-resume, .control-pause, .control-cancel, .control-clear {
	cursor:pointer;
	font-size:2em;
	align-content:center;
	margin:0;

	padding: 0 10px;
	color: #bbb;

	/*
	paint-order: stroke fill;
	@supports (-webkit-text-stroke: 5px black) {
		  -webkit-text-fill-color:  #999;
		  -webkit-text-stroke: 5px #666;
	}
		  */			
}

.control-e-stop:hover {
	--color-icon: var(--control-estop-color);
	color: var(--color-icon);
	@supports (-webkit-text-fill-color: var(--color-icon)){
		-webkit-text-fill-color: var(--color-icon);
		-webkit-text-stroke-color: black;
  	}					
}

.control-resume:hover {
	--color-icon: var(--control-resume-color);
	color: var(--color-icon);
	@supports (-webkit-text-fill-color: var(--color-icon)){
		-webkit-text-fill-color: var(--color-icon);
		-webkit-text-stroke-color: black;
  	}				
}

.control-pause:hover {
	--color-icon: var(--control-pause-color);
	color: var(--color-icon);
	@supports (-webkit-text-fill-color: var(--color-icon)){
		-webkit-text-fill-color: var(--color-icon);
		-webkit-text-stroke-color: black;
  	}				
}

.control-cancel:hover {
	--color-icon: var(--control-cancel-color);
	color: var(--color-icon);
	@supports (-webkit-text-fill-color: var(--color-icon)){
		-webkit-text-fill-color: var(--color-icon);
		-webkit-text-stroke-color: black;
  	}				
}

.control-clear:hover {
	--color-icon: var(--control-clear-color);
	color: var(--color-icon);
	@supports (-webkit-text-fill-color: var(--color-icon)){
		-webkit-text-fill-color: var(--color-icon);
		-webkit-text-stroke-color: black;
  	}				
}

a {
	color: var(--link-color);
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}


.title {
  	float:left;
}

.footer	 {
	position: fixed; bottom: 0; left: 0;
	height: 20px;
	width: 100%;
	font-size: .8em;
	color:var(--footer-color);
	/*
	background-color: var(--tile-bg-color);
	border-top: gray 1px solid;
	padding-top:7px;
	*/
}
